
		<h2 id="page_title">Business Listings</h2>

		<div class="wrapper wrapper_padding clearfix">
			<div class="category_wrapper">

				<% @businesses.shuffle.each do |business| %>
					<div class="category_listing clearfix">
						<%= image_tag business.logo.url(:medium), :class => "listing_logo" %>
						<div class="listing_description clearfix">
							<h2><%= link_to business.name, business %></h2>
							<p><%=h truncate(business.description, :length => 200, :separator => ' ') %></p>
							<p><span class="contact_method"><strong>Phone:</strong> <%= business.phone %></span>		<span class="contact_method"><strong>Email:</strong> <%= business.email %></span>		<strong>Website:</strong> <%= link_to business.url, "http://#{business.url}" %></p>
							<%= link_to "More Details", business, class: "button" %>
						</div>
					</div>
					<hr>
				<% end %>


				<%= will_paginate @posts %>
			</div>



			<div class="side_content">
				<div class="bigbox"><%= image_tag("bigBox.jpg", :alt => "Big Box") %></div>
				<h1>Search For A Business</h1>
				<hr>
				<form class="search">
					<p class="category">
						<%= form_for :category do |f| %>
							<%= f.label :category, "Search By Category" %><br>
							<%= f.collection_select :category_id, Category.all.order('name ASC'), :id, :name %>
							<%= button_tag(type: 'submit', class: "button") do %>
								<i class="fa fa-arrow-right"></i>
							<% end %>
						<% end %>
						</form>
							<%= form_tag search_businesses_path, method: :get, role: "search", :class => "search" do %>
								<%= label :category, "Search By Business Name" %>
								<%= text_field_tag :search, params[:search], id: "search", :placeholder => 'Search Business' %>
								<%= button_tag(type: 'submit', class: "button") do %>
									<i class="fa fa-arrow-right"></i>
								<% end %>
							<% end %>
					</p>
				<h1>What Is The Biz Directory?</h1>
				<hr>
				<p>We know how it goes...you hear about a great business on the radio, but you can't quite catch their name or contact information. That's why we developed the Biz Directory!</p>
				<p>This is a way for you to find out more about businesses with great stories, great product and great offers. You'll also find a quick and easy way to contact these places and more!</p>
			</div>
		</div>
	</div>
