<!DOCTYPE html>
<html>
<head>
	<title>The Edmonton Biz Directory | Corus Radio Edmonton</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id= "main_navigation" class="clearfix">
	<div id="leftHeader">
		<%= link_to image_tag('logo_biz.png'), root_path, :class => "main_logo" %>
		<%= yield :logo %>
	</div>
	<div id="rightHeader">
		<nav>
			<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Business Listings", businesses_path %></li>
			<% if user_signed_in? %>
				<li><a href="#">Admin</a>
						<ul>
					    	<li><%= link_to "Add A Business", new_business_path %></li>
					    	<li><%= link_to "Manage Categories", categories_path %></li>
					    </ul>
				</li>
				<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
			<% end %>
			<li><%= link_to "Get In Contact", new_contact_path, class: "button" %></li>
		</nav>
		<%= yield :homeNav %>
	</div>
</header>

<% if notice %>
	<p class="notice"><%= notice %></p>
<% elsif alert %>
	<p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

<footer id="main_footer">
	<p class="copyright">
		<h6>Corus Radio</h6>
		Copyright &copy; 2016  |  All Rights Reserved
	</p>
</footer>
</body>
</html>
